.services {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 2rem;
}

.servicesWrapper {
  display: flex;
  justify-content: space-between;
}

.rigthServices {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.fire-text-block {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.fire-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-weight: 400;
}

.fire-subtitle {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  font-family: 'Arial Narrow', sans-serif;
  font-weight: 400;
}

.fire-heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-weight: 400;
}

.fire-subheading {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  font-family: 'Arial Narrow', sans-serif;
  font-weight: 400;
}

.fire-text {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}

.small-margin {
  margin-top: 0.5rem;
}

.fire-waiting {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.fire-legacy {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  font-weight: 400;
}

.fire-cta {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: 400;
}

.rigthServices button {
  background-color: #402864;
  color: white;
  /* width: 25%; */
  padding: 0.7rem 1.7rem;
  border-radius: 10px;
  border: none;
  /* box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.205); */
}
