.contatWrapper {
    width: 100%;
    margin-top: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.leftContact {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.infosContact {
    width: 70%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.contact {
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.infosContact h2 {
    font-size: 2.5rem;
    width: 90%;
    color: rgb(3, 3, 82);
    margin-bottom: 2rem;
}

.btnContact {
    display: flex;
    justify-content: space-between;
}

.btnContact input {
    width: 20rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.377);
    text-indent: 1rem;
    margin-right: 1rem;
}

.btnContact button {
    background: linear-gradient(178.17deg, #FF979A 1.42%, #CF6F72 98.33%);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 100;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.233);
    display: flex;
    align-items: center;
    justify-content: center;
}
