.PostBlog {
    display: flex;
    flex-flow: column wrap;
    width: 20rem;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.466);
    margin: 0 2rem;
    transition: all 0.3s;
    background-color: white;
    border-color: black;
    border-width: 2px;
    padding: 5px;
    
}

.PostBlog:hover {
    transform: scale(1.05)
}

.middleBlog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

.middleBlog h2 {
  color: rgb(3, 3, 82);
  line-height: 2rem;
   /* margin-top:  35rem; */
  /* width: 85%; */
  
}

.botBlog {
    display: flex;
    align-items: center;
    justify-content: center;    
    /* background-color: pink; */
}

.botBlog img {
    display: flex;
    align-self: flex-end;;
    /* background-color:  red; */
    /* width: 40px; */
    margin-top: 10px;
    height: 50px;
    width: 220px;
    /* border-radius: 50%; */
}

.botProfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* width: 85%; */
    /* height: 4rem; */
}

.botProfile p {
    margin: 1rem;
    color: rgba(0, 0, 0, 0.37);
}
.imgQrcode {
    width: 100%;
    height: 100%;
}
.imgIcon {
    width: 200%;
    height: 100%;
}