@media all and (max-width: 742px) {
    .PostBlog {
        width: 60%;
        align-items: center;
        align-content: center;
        /* height: 21rem; */
        background-color: white;
        margin-bottom: 2rem;
    }

    .middleBlog h2 {
        
        width: 90%;
        text-align: center;
    }
    .botProfile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 4rem;
    }
    .botBlog img {
        display: flex;
        align-self: flex-end;
        margin-top: 10px;
        height: 50px;
        width: 190px;
    }
}