.bRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
}

.recipes {
  width: 85%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.infos {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 3rem;
}

.infos h2 {
  font-size: 2rem;
  color: rgb(3, 3, 82);
}

.infos p {
  font-size: 26px;
  color: rgb(3, 3, 82);
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.recipe-posts {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}